/* Dropdown Button */

.dropbtn {
    background-color: #12d68e;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content button {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    border: none;
    width: 100%;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #08a36a;
}


/* Color classes */

.black {
    background-color: black;
    color: white;
    z-index: 2;
}

.black:hover {
    background-color: rgb(93, 90, 90);
}

.brown {
    background-color: rgb(124, 75, 11);
}

.brown:hover {
    background-color: rgb(159, 97, 15);
}

.red {
    background-color: red;
}

.red:hover {
    background-color: rgb(190, 6, 6);
}

.orange {
    background-color: orange;
}

.orange:hover {
    background-color: rgb(197, 130, 6);
}

.yellow {
    background-color: yellow;
}

.yellow:hover {
    background-color: rgb(190, 190, 7);
}

.green {
    background-color: rgb(12, 151, 12);
}

.green:hover {
    background-color: rgb(5, 111, 5);
}

.blue {
    background-color: blue;
}

.blue:hover {
    background-color: rgb(6, 6, 169);
}

.violet {
    background-color: rgb(188, 22, 188);
}

.violet:hover {
    background-color: rgb(135, 6, 135);
}

.grey {
    background-color: rgb(117, 116, 116);
}

.grey:hover {
    background-color: rgb(165, 163, 163);
}

.white {
    background-color: white;
}

.white:hover {
    background-color: rgb(178, 176, 176);
}

.gold {
    background-color: gold;
}

.gold:hover {
    background-color: rgb(186, 159, 7);
}

.silver {
    background-color: rgb(200, 194, 194);
}

.silver:hover {
    background-color: rgb(156, 153, 153);
}


/* elements adjustment */

h1 {
    position: relative;
    left: 40%;
}

.image {
    display: flex;
    justify-content: right;
    align-items: center;
}

img {
    width: 500px;
    height: 140px;
}


/* resistor color changing */

.temp1 {
    width: 20px;
    height: 140px;
}

.temp2 {
    width: 20px;
    height: 100px;
}

.temp3 {
    width: 20px;
    height: 100px;
}

.temp4 {
    width: 20px;
    height: 140px;
    margin-left: 61%;
    position: absolute;
}

.bands {
    display: flex;
    align-items: center;
    gap: 30px;
    position: absolute;
    margin-left: 60px;
}

.resistor {
    margin-left: 50%;
    display: flex;
    position: relative;
}